<div class="article">
  <h3>用户姓名:&nbsp;&nbsp;&nbsp;<%= @user.name %></h3>
  <h3>用户邮箱:&nbsp;&nbsp;&nbsp;<%= @user.email %></h3>
  <h3>他的空间:&nbsp;&nbsp;&nbsp;<%= link_to @user.zone %></h3>
  <h2>他所有的留言:</h2>

</div>
