/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@charset "utf-8";
body {
  margin:0;
  padding:0;
  width:100%;
  color:#fff;
  font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
html, .main {
  padding:0;
  margin:0;
  background:#3f7486 image-url("bg.gif") repeat-x top;
}
.clr {
  clear:both;
  padding:0;
  margin:0;
  width:100%;
  font-size:0px;
  line-height:0px;
}
.logo {
  padding:64px 0 0;
}
h1 {
  margin:0;
  padding:16px 0;
  color:#fff;
  font:bold 40px/1.2em Arial, Helvetica, sans-serif;
  letter-spacing:-2px;
  text-align:center;
}
h1 a, h1 a:hover {
  color:#fff;
  text-decoration:none;
}
h1 span {
  color:#65cde7;
}
h1 small {
  display:block;
  padding:0;
  font:normal 13px/1.2em Arial, Helvetica, sans-serif;
  letter-spacing: normal;
}
h2 {
  font:bold 24px Arial, Helvetica, sans-serif;
  padding:8px 0;
  margin:8px 0;
  color:#fff;
}
p {
  margin:8px 0;
  padding:0 0 8px 0;
  font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
p.spec {
  text-align:right;
}
a {
  color:#52aec6;
  text-decoration:underline;
}
a.rm, a.com, p span.date {
  padding:4px 12px;
  background-color:#52aec6;
  text-decoration:none;
  color:#fff;}
a.rm, a.com, p span.date, ul.sb_menu li a:hover, ul.ex_menu li a:hover {
  border-radius:6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
}

.content, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
  margin:0;
  padding:0;
}
.fbg_resize {
  margin:0 auto;
  padding:0 40px;
  width:890px;
}

.btn {display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px}
.btn-primary{color:#fff;background-color:#337ab7;border-color:#2e6da4}
.btn-default{color:#333;background-color:#fff;border-color:#ccc}
.btn-success{color:#fff;background-color:#5cb85c;border-color:#4cae4c}
