// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.highlight {
  margin-top: 15px;
  background: #2D3037;
  padding: 5px 40px;
  margin-left: -40px;
  margin-right: -40px;
  pre {
    margin-top: 9px;
  }
}
