/* header */
.header {
  padding:0 0 28px;
}
.header_resize {
  margin:0 auto;
  padding:0;
  width:970px;
  background:#f00 image-url("menu.gif") repeat-x top;
}
.header_resize {
  border-bottom-left-radius:12px;
  -moz-border-radius-bottomleft:12px;
  -webkit-border-bottom-left-radius:12px;
  border-bottom-right-radius:12px;
  -moz-border-radius-bottomright:12px;
  -webkit-border-bottom-right-radius:12px;
}

/* menu */
.menu_nav {
  margin:0;
  padding:0 0 0 40px;
  float:left;
}
.menu_nav ul {
  list-style:none;
}
.menu_nav ul li {
  margin:0;
  padding:0 16px 0 0;
  float:left;
}
.menu_nav ul li a {
  display:block;
  margin:0;
  padding:20px 24px;
  color:#52aec6;
  text-decoration:none;
  font-size:13px;
  text-transform:uppercase;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
  background:#f00 image-url("menu_a.gif") repeat-x center;
  color:#fff;
}

/* hbg */
.hbg {
  background:image-url("image.jpg") no-repeat top;
  height:211px;
}
